@import url('https://fonts.googleapis.com/css?family=Sacramento');
body{
    background-color: #859cc1;
}
div{
    background-color: cornsilk;
    height: 200px;
    width: 200px;
    color: blue;
    text-align: center
}
h2{
    color: blueviolet
}
div h2{
    line-height: 200px;
    color: chartreuse
}
.color-1{
    color: yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.color-2, h2.color-2{
    color: red;
    font-family: 'Sacramento', cursive;
    font-size: 30px;
    font-weight: bold;
}
.color-3, h1.color-2{
    color: #ffffff
}
