.div-1,.div-2{
    height: 200px;
    width: 200px;
    float: left
}
.div-1{
    background-color: yellow
}
.div-2{
    background-color: blue
}


.table{
    width: 400px;
}
.column-1{
    width: 50%;
    height: 200px;
    background-color: aqua;
    float: left;
}

.table div:first-child{
    background-color: red
}

.table div:last-child{
    background-color: green
}

.table div:nth-child(2){
    background-color: yellow
}